.summary {
  border-bottom: 1px solid #ddd;
}

.summary header {
  display: inline-block;
  padding: 5px 0;
  border-style: solid;
  border-width: 0 0 8px 0;
}

.green {
  border-color: #83a861;
}

.black {
  border-color: #555;
}

.content {
  padding-bottom: 24px;
}
