.summary {
  border-bottom: 1px solid #ddd;
}

.summary header {
  display: inline-block;
  padding: 5px 0;
  border-bottom: 8px solid #83a861;
  font-weight: bold;
}

.content {
  padding-bottom: 24px;
}
